{% extends "::base.html.twig" %}

{% block menu %}
    {% set menu_active = 'about' %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container main-container">
    <p>{{ 'pokemon.about.message'|trans }}</p>
    <p>{{ 'pokemon.about.underconstruction'|trans }}</p>
</div>
{% endblock %}

