{% extends "::base.html.twig" %}

{% block menu %}
    {% set menu_active = 'contact' %}
    {{ parent() }}
{% endblock %}


{% block content %}
<p>If you want to contact us, please send us a email: gogopokemap [ at ] gmail [ dot ] com</p>
{% endblock %}

