.search-box {
    margin-bottom:20px;
}

.label {
    cursor:pointer;
    margin-right:5px;
}

.label-active {
    border:2px solid #000;
}

.pokelogo {
    height:58px;
    margin-top:-10px;
}

.main-container {
    padding-top:75px;
}

.search-center-map {
    position:absolute;
    /*z-index:100;*/
    bottom:30px;
    right:30px;
}

/* bootstrap map layout */
html,body{
    height:100%;
}

#main, #main>.row {
    height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
    /*height:100%;*/
    /*padding-top:75px;*/
    width:32.5%;
    height:calc(100% - 0);
    position:absolute;
    left:0;
    top:75px;
    bottom:0;
    overflow-x:hidden;
    overflow-y:auto;
}

#mapid {
    width:66.666666%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}

.search-loading img {
    width:100px;
}