.search-box {
    /*margin-bottom:20px;*/
    position:absolute;
    left: 43px;
    top: 63px;
    width: 63%;
}

.label {
    cursor:pointer;
    margin-right:5px;
}

.label-active {
    border:2px solid #000;
}

.pokelogo {
    height:58px;
    margin-top:-10px;
}

.main-container {
    padding-top:75px;
}

.search-center-map {
    margin-bottom:10px;
}

.search-my-location {
    margin-top:5px;
}

/* bootstrap map layout */
html,body{
    height:100%;
}

#main, #main>.row {
    height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#right {
    /*height:100%;*/
    /*padding-top:75px;*/
    width:32.9%;
    height:calc(100% - 0);
    position:absolute;
    right:0px;
    top:64px;
    bottom:0;
    overflow-x:hidden;
    overflow-y:auto;
}

#mapid {
    width:66.666666%;
    height:calc(100% - 0);
    position:absolute;
    left:0;
    top:50px;
    bottom:0;
    overflow:hidden;
}

.search-loading img {
    width:100px;
}

/* RESPONSIVE */
@media only screen and (max-device-width: 768px) {
    .pokelogo {
        height:40px;
    }

    #main>.row {
        /*overflow-y:visible;*/
    }

    #mapid {
        width:100%;
        /*height:calc(50% - 0);*/
        height:50%;
    }

    #left {
        /*height:calc(50% - 0);*/
    }

    #right {
        width:100%;
        /*position:relative;*/
        top:60%;
        right:0;
        height:calc(50% - 0);
    }

    .search-explain {
        display:none;
    }
}

