<p>Ésta app utilitza información proporcionada por entrenadores Pokemon de la comunidad. Si quieres ayudarnos aportando información de tu zona, no dudes en ponerte en contacto con nosotros, en el apartado de contacto</p>
<p>Estamos en construcción. Es una web de fans, para fans, no somos parte de Niantic Inc, Pokémon Inc, Nintendo Inc, Creatures Inc, GAME FREAK inc.</p>