{% extends "::base.html.twig" %}

{% block menu %}
    {% set menu_active = 'about' %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container main-container">
    {% include 'static/about.'~app.request.locale~'.html.twig' %}
</div>
{% endblock %}

