{% extends "::base.html.twig" %}

{% block menu %}
    {% set menu_active = 'contact' %}
    {{ parent() }}
{% endblock %}


{% block content %}
<div class="container main-container">
    {% include 'static/contact.'~app.request.locale~'.html.twig' %}
</div>
{% endblock %}

