<p>
Here you have the table of damage type pokemon. When fighting against gymns you have to take into account the types of attacks that make your Pokemon powerfull against the enemy.
</p>
<p>
For example, if you have a Pidgey type <strong>flying</strong> (with such attacks) will be very effective fighting Pokemons type <strong>bug</strong>, like Caterpie or type <strong>plant</strong> as Oddish
</p>

<img src="http://static.tumblr.com/ldnl2yk/uJqmvz8fn/tabla.jpg" />
