<p>
    Os dejamos la tabla de tipos de daño. Para cuando luchéis contra los gimnasios teneis que tener en cuenta los tipos de ataque que hacen vuestros Pokemon contra el tipo que tiene el enemigo.
</p>
<p>
    Por ejemplo, si tenéis un Pidey del tipo <strong>volador</strong> (con ataques de ese tipo) sera muy efectivo luchar contra Pokemons tipo <strong>bicho</strong>, como el Caterpie o tipo <strong>planta</strong> como Oddish
</p>

<img src="http://static.tumblr.com/ldnl2yk/uJqmvz8fn/tabla.jpg" />