<p>
    Los huevos es una parte importante del juego por varias razones:
    <ul>
        <li>Nos dan mucha experiencia</li>
        <li>Nos dan pokemons dificiles de encontrar</li>
        <li>Nos dan mucho polvo estelar</li>
        <li>Nos dan muchos caramelos del tipo de Pokemon que te salga</li>
    </ul>

    <br />A continuación tenéis una tabla aproximada de que tipos de pokemon os pueden salir segun la distancia del huevo, que hay de 2, 5 y 10 KM.
</p>

<img src="http://i67.tinypic.com/9s78qr.jpg" />