<p>
    Eggs is an important part of the game for several reasons:
    <ul>
<li> give us a lot of experience </li>
<li> give us Pokemons difficult to find </li>
<li> give us a lot of stardust </li>
<li> We get many candies  of the kind of the Pokemon that hatches into</li>
    </ul>

    <br />Here you have an table of which kind of pokemon you can get from an egg.
</p>

<img src="http://i67.tinypic.com/9s78qr.jpg" />