<h1>Cómo jugar</h1>

<img src="http://i.imgur.com/hPnr3ew.jpg" class="pull-right" style="width:340px;" />

<p>
<strong>Aquí encontrarás todo lo necesario para empezar a jugar a Pokemon Go</strong>. No importa si acabas de empezar o llevas un tiempo jugando, repasa con nosotros los aspectos más importante
del juego y no te pierdas nada!
</p>

<p>
En la imagen de la derecha puedes ver remarcado todo lo que puedes encontrar en el mapa:
    <ul>
        <li>Perfil de usuario</li>
        <li>Pokemons</li>
        <li>Radar</li>
        <li>Pokeparadas / Pokestops</li>
        <li>Módulos / cebos</li>
        <li>Hierba</li>
        <li>Gimnasios</li>
    </ul>
<p>

<p>
    Ha excepción del perfil y el radar, que siempre esftaran disponible y serán funcionales en cualquier momento, necesitarás moverte por tu entorno para poder interactuar
    con los elementos descritos anteriormente. <br/><br/>Debes saber que <strong>Pokemon go esta pensado para que te muevas e interactues con tu entorno</strong> , descubrirás nuevos lugares, disfrutaras del arte
    urbano y conocerás a otros entrenadores que como tú, están disfrutando del juego.
</p>


<h3>Perfil de usuario</h3>

<p>
    El perfil muestra información básica sobre tu avatar, el nick elegido, el equipo al que pertenece, el nivel que tienes y el progreso para alcanzar el siguiente, los logros que has conseguido mientras juegas y las monedas ganadas capturando y manteniendo gimnasios.<br/><br/>
    Por ahora los logros / medallas, no aportan ningún valor o beneficio más que informarte de algunas curiosidades durante tu avance en el juego.
</p>

<div class="alert alert-warning" role="alert"><strong> Vuelve a personalizar tu avatar. </strong> Dentro de las opciones del perfil se encuentra la posibilidad de volver a cambiar el aspecto de tu personaje.</div>


<h3>Pokemons</h3>
Te irán apareciendo a medida que te muevas por el entorno. Los pokemons que se encuentran en la zona están disponibles para todos los entrenadores, de esta manera, si capturas pokemons en compañia
no has de preocuparte si tu compañero lo caza antes que tu, ten paciencia y muévete por el alrededor, tu también tendrás la posibilidad de hacerte con el.
<br/><br/>

Puedes ver que pokemons te saldrán por el mapa échale un vistazo al radar.<br/><br/>

<div class="alert alert-danger" role="alert"><strong> No vayas muy rápido. </strong> Si te desplazas a una velocidad superior a 13 km/h el juego te penalizara y no podras capturar pokemons o conseguir items de las pokeparadas.</div>

<p>
<h3>Radar</h3>
<img src="http://i.imgur.com/Zc6nNvJ.png" class="pull-right" style="width:340px;" />
Muestra los pokemons que pueden aparecer por la zona. Si se accede al radar, es posible intuir la distancia a la que se encuentra en función de las pisadas que aparezca (aunque por ahora han desabilitado esta función).

<br/><br/>
Así que por ahora, si ves un pokemon en el radar que quieres capturar, intenta que esté aparezca en la primera posición de la lista, ya que eso indica que es el pokemon mas cercano a tu posición.</p>

<br/>
<strong>Os mantendremos informados!</strong> Corren rumores de que pronto cambiaran el sistema de localización de pokemons, así que no dejeis de visitarnos para enteraros de todos lo cambios que se producen.


<br/><br/>
<h3>Pokeparadas / Pokestops</h3><br/>
Si hay algo que pueda impedir que no captures a un pokemon, es quedarte sin Pakoballs! Para que esto no ocurra has de ir activando las pokeparadas que te encuentras por el camíno. Si vives en una ciudad no has de preocuparte,
encontraras una casi cada 100 metros, si por lo contrario te desplazas por las afueras, tendras que ir visitando una y otra vez las pokeparadas que tengas a mano, pues cada 5 minutos puedes volver a activarlas.
<br/><br/>

Aquí tienes una lista de los items que puedes obtener de las pokeparadas

<ul>
    <li>Pokeballs</li>
    <li>Frutas</li>
    <li>Pociones</li>
    <li>Revivir</li>
    <li>Huevos</li>
</ul>

    <div class="alert alert-info" role="alert"><strong>Activa todas las que puedas!</strong> Aunque tengas la mochila lleva, no dejes de activar pokeparadas, pues cada vez que lo haces consigues experiencia.</div>

    <p>
        Otra cosa a saber de las pokeparadas es que a medida que adquieras mayor nivel de entrenador, las pokeparadas te irán soltando nuevos objetos. Si quieres que saber cuando vas a poder conseguir nuevos objetos puedes consultar la siguiente tabla:
        <br/><br/>
        <h4> <strong>Nivel 1</strong> - Pokeballs y huevos</h4>
        Estos aparecen desde el primer momento y terminarás con la mochila llena de pokeballs. No te olvides que puedes desecharlas y hacer hueco a objetos más interesantes.<br/><br/>
        <h4> <strong>Nivel 5</strong> - Pociones, revivir, fruta</h4>
        Comienzan las peleas en los gimnasios y necesitarás curar a tus compañeros. Una vez alcanzas este nivel siempre te sueltan alguno de estos objetos. No tengas miedo de enfrentarte con los demás líderes
        de gimnasio. <br/><br/>

        Lo mismo ocurre con las frutas, utilízala siempre que haya un pokemon interesante que capturar, rara vez te quedaras sin una que lanzar. Recuerda que si utilizaste la fruta para capturar a un pokemon
        y este se escapó de la pokeball, debes volver a lanzarle otra fruta si quieres conseguir la bonificación que esta otorga. <br/><br/>

        <h4> <strong>Nivel 10, 12 y 15</strong> - Super pociones. Super pokeballs. Hyper pociones</h4>
        Los pokemons son más fuertes y por lo tanto tienen más vida, si no quieres aburrirte a la hora de curarlos intenta combinar super pociones y pociones normales. <br/><br/>


        <h4> <strong>Nivel 20</strong> - Ultraballs</h4>
        Por ahora esta es la mejor de las pokeballs que tenemos disponibles. Usalas solo cuando lo consideres necesario, pues el ratio de aparición de esta pokeball es muy bajo.

    </p>

    <p>
        <h3>Hierba</h3>
        Todos los detalles importan y este no iba a ser menos. Quizás hayas observado que en ciertas zonas del mapa hay hierba revoloteando, normalmente en la hierba alta, pues si puedes acercate! hay mas posibilidades de que aparezca un pokemon salvaje por esa zona.
        <br/><br/> Es importante fijarse en este detalle, sobre todo cuando buscas a algun pokemon en particular que aparece en tu radar.
    </p>

<p>
    <h3>Módulos / cebos</h3><br />
    Existe la posibilidad de añadir un modulo a una pokeparada para atraer pokemons. Estos pokemons serán visibles para todos los entrenadores.
    <div class="alert alert-info" role="alert"><strong>Consejo!</strong> Podras encontrar estas paradas con módulos en el mapa cuando veas una parada con "confeti" de color rosa.</div>
</p>

<p>
    <h3>Gimnasios</h3><br />
    A partir de nivel 5 deberas unirte a un equipo si deseas luchar con los demás entrenadores por el control de los gimnasios. Los diferentes equipos son:
	<ul>
        <li>Valor</li>
	    <li>Sabiduría</li>
	    <li>Instinto</li>
    </ul>

	Cuando luchas en el Gimnasio lo haces con los 6 pokemos mas fuertes. Esta lista se puede modificar para asociar a la batalla los pokemos que vayan mejor.
</p>

<p>
    <h3>Capturar Pokemons</h3><br />
    Iran apareciendo los pokemons que se muestran en el radar. Ten en cuenta las siguientes cosas cuando quieras capturarlos, ya que tendras mas probabilidades de éxito si:
	<ul>
        <li>Aciertas dentro de la redonda que cambia de color</li>
        <li>Como mas pequeña sea la redonda (si las pones en el medio). Te avisara con mensajes de Bueno < Genial < Excepcional</li>
        <li>Dale vueltas a la pokeball, hasta que empieze a brillas. Lanzaras la bola con efecto curvo</li>
    </ul>

    El color de la redonda muestra la dificultad en la captura, Rojo > Naranja > Amarillo > Verde. Puedes lanzarle fruta para facilitar la captura.

    <br /><iframe width="560" height="315" src="https://www.youtube.com/embed/1DpWZgYrD4w" frameborder="0" allowfullscreen></iframe>
</p>