<h1>Cómo jugar</h1>

<img src="http://i.imgur.com/hPnr3ew.jpg" class="pull-right" style="width:340px;" />
<p>
    <h3>Pokeparadas / Pokestops</h3><br />
    Necesarias para conseguir objetos, en ellas encontraras los siguientes items:
    <ul>
        <li>Pociones</li>
        <li>Pokeballs</li>
        <li>Revivir</li>
        <li>Huevos</li>
    </ul>
    A parte conseguiras experiencia cada vez.
    <div class="alert alert-info" role="alert"><strong>Consejo!</strong> Cada 5 minutos se reinician las paradas, para que puedas volver a capturarlas.</div>
</p>

<p>
    A medida que adquieras mayor nivel de entrenador, las pokeparadas te irán soltando nuevos objetos:
    <ul>
        <li>1: pokeballs y huevos</li>
        <li>5: pociones, fruta, revivir</li>
        <li>10: super pociones</li>
        <li>12: super pokeballs</li>
        <li>15: hyper pociones</li>
        <li>20: ultra balls</li>
    </ul>
</p>

<p>
    <h3>Hierba</h3><br />
    Cuando observes en el mapa hierva revoloteando acercate! hay mas posibilidades de que aparezca un pokemon salvaje.
</p>

<p>
    <h3>Módulos / cebos</h3><br />
    Existe la posibilidad de añadir un modulo a una pokeparada para atraer pokemons. Estos pokemons serán visibles para todos los entrenadores.
    <div class="alert alert-info" role="alert"><strong>Consejo!</strong> Podras encontrar estas paradas con módulos en el mapa cuando veas una parada con "confeti" de color rosa.</div>
</p>

<p>
    <h3>Radar</h3><br />
    Muestra los pokemons que pueden aparecer por la zona. Si se accede al radar, es posible intuir la distancia a la que se encuentra en función de las pisadas que aparezca. En la siguiente imagen se muestra como aproximarse de la mejor manera al pokemon que se quiere cazar.
    <br /><img src="http://i.imgur.com/5QDxr1Z.png" style="width:900px;" />
</p>

<p>
    <h3>Gimnasios</h3><br />
    A partir de nivel 5 deberas unirte a un equipo si deseas luchar con los demás entrenadores por el control de los gimnasios. Los diferentes equipos son:
	<ul>
        <li>Valor</li>
	    <li>Sabiduría</li>
	    <li>Instinto</li>
    </ul>

	Cuando luchas en el Gimnasio lo haces con los 6 pokemos mas fuertes. Esta lista se puede modificar para asociar a la batalla los pokemos que vayan mejor.
</p>

<p>
    <h3>Capturar Pokemons</h3><br />
    Iran apareciendo los pokemons que se muestran en el radar. Ten en cuenta las siguientes cosas cuando quieras capturarlos, ya que tendras mas probabilidades de éxito si:
	<ul>
        <li>Aciertas dentro de la redonda que cambia de color</li>
        <li>Como mas pequeña sea la redonda (si las pones en el medio). Te avisara con mensajes de Bueno < Genial < Excepcional</li>
        <li>Dale vueltas a la pokeball, hasta que empieze a brillas. Lanzaras la bola con efecto curvo</li>
    </ul>

    El color de la redonda muestra la dificultad en la captura, Rojo > Naranja > Amarillo > Verde. Puedes lanzarle fruta para facilitar la captura.

    <br /><iframe width="560" height="315" src="https://www.youtube.com/embed/1DpWZgYrD4w" frameborder="0" allowfullscreen></iframe>
</p>