<h1> How to play </h1>

<img src="http://i.imgur.com/hPnr3ew.jpg" class="pull-right" style="width: 340px;"/>
<p>
<h3>  Pokestops </h3> <br/>
Necessary to achieve objects, they will find the following items:
<ul>        
    <li>Potions</li>
    <li>Pokeballs</li>
    <li>Revive</li>
    <li>Eggs</li>    
</ul>
    And you will earn experiencie each time!   

<div class="alert alert-info" role="alert"><strong> Tip! </strong> Every 5 minutes, pokestops are reset, so you can catch them again.</div>
</p>

<p>
As you gain higher level of trainer, the pokestops you will releasing new items:
    
<ul>
<li>1: pokeballs and eggs</li>
<li>5: potions, fruit, revive</li>
<li>10: super potions</li>
<li>12: super pokeballs</li>
<li>15: hyper potions</li>
<li>20: ultra balls</li>
</ul>
</p>

<p>
<h3> Grass </h3> <br/>
When you see on the map leafs flitting get near! there are more chances of a wild pokemon appears.
</p>

<p>
<h3> Modules / baits </h3> <br/>
There is the possibility of adding a module to a pokestop to attract Pokemons. These Pokemons will be visible to all coaches.    
<div class="alert alert-info" role="alert"><strong> Tip! </strong> You can find these stops modules on the map when you see a stop with pink leafs.</div>
</p>

<p>
<h3>Radar</h3> <br/>
It shows the Pokemons that can appear in the area. If you access the radar, it is possible to sense the distance that is a function of the footprints appear. The following image shows how to approach the best way to pokemon you want to hunt.
    <br/> <img src="http://i.imgur.com/5QDxr1Z.png" style="width: 900px;"/>
</p>

<p>
<h3>Fitness</h3> <br/>
From level 5 will have to join a team if you want to fight with the other coaches for control of the gyms. Different teams are:
<ul>        
<li>Value</li>
<li>Wisdom</li>
<li>Instinct</li>    
</ul>

When you fight in the gymn you do it with the 6 strongest pokemon. This list can be modified to attach to battle the pokemons to go better.
</p>

<p>
<h3>Capture Pokemons </h3> <br/>
Look at the pokemons appearing on the radar. Please note the following facts when you want to capture, because you will have more chance of success if:
<ul>
<li>guess right in the circle that changes color</li>
<li>As smaller the circle (if you throw them in the middle). Look for this meesages: Good < Nice < Excellent</li>
<li>Keep turning the pokeball until begins to shine. You will throw the ball with curved effect.</li>
</ul>
The color of the round shows the difficulty in catching. Red > Orange > Yellow > Green. You can throw fruit to facilitate capture.
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1DpWZgYrD4w" frameborder="0" allowfullscreen></iframe>
</p>