<h1>Guía para subir nivel</h1>

<p>
Tu nivel de entrenador ira aumentando a medida que realices las siguientes acciones:
    <ul>
        <li>Capturando pokemons</li>
        <li>Evolucionar pokemons</li>
        <li>Huevo de la suerte</li>
        <li>Pokeparadas</li>
        <li>Eclosionar huevos</li>
    </ul>

    <div class="alert alert-info" role="alert"><strong>Consejo!</strong>
        Para subir rapidamente de nivel, aprovecha los huevos de xp de la siguiente manera:
        <ul>
            <li>Consigue caramelos de los pokemons que evolucionan con poca cantidad como pidgeys, caterpie, weedle</li>
            <li>No transfieras todos, guardate unos cuantos para evolucionarlos</li>
            <li>Cuando tengas los suficientes activa el huevo</li>
            <li>Comienza a evolucionar pokemons, lo normal por cada evolución es ganar 500px, de esta manera conseguirás 1000px</li>
        </ul>
    </div>
</p>