<h1> Guide to level up </h1>

<p>
Your trainer level will increase as you perform the following actions:
<ul>
<li>capturing Pokemon</li>
<li>evolve Pokemon</li>
<li>using lucky Egg</li>
<li>check into Pokestops</li>
<li>hatching eggs</li>
</ul>

<div class="alert alert-info" role="alert"><strong>Tip!</strong>
To level up quickly, use eggs xp advantage as follows:
<ul>
<li>Catch a lot of common pokemons as pidgey</li>
<li> Do not transfer all, save a few to evolve them </li>
<li> When you have enough, use the lucky egg </li>
<li> Start evolving Pokemons, normal for every evolution is 500px, so you get double (1000px) </li>
</ul>
</div>
</p>