<p>
    Pokemon GO is a new game, so there are many tricks and hints. We have gatheret few tips to help you
</p>

<ul class="list-group">
    <li class="list-group-item"><span class="badge">1</span>Its recomended to no evolve nor power up pokemons until level 13</li>
    <li class="list-group-item"><span class="badge">2</span>Remember that you can collect your gymns every 20 hours, but in an active area, the gym wont last forever, collect quickly</li>
    <li class="list-group-item"><span class="badge">3</span>Train the curve throws on early game, because higher level means tougher catchs</li>
    <li class="list-group-item"><span class="badge">4</span>If you use the incense, is better if you walk, you will get a pokemon every 2 minutes. If you don't move it will be every 5.</li>
    <li class="list-group-item"><span class="badge">5</span>Remember that you need the app opened if you want to hatch your eggs</li>
    <li class="list-group-item"><span class="badge">6</span>Wait to power up your pokemons, when the level bar is at least on the lower 3/4 parts</li>
    <li class="list-group-item"><span class="badge">7</span>It's important to look into your pokemon details, because every one is diferent. Look for 2 different movement types</li>
    <li class="list-group-item"><span class="badge">8</span>During the combat, try to dodge when the other pokemon is charging the strong attack. Then you have 2 o 3 seconds to use yours</li>
</ul>

<p>If you want to help us, send us more tips!</p>