<p>
    Pokemon GO es un juego nuevo y aún hay muchos trucos y maneras de hacer las cosas desconcidos, pero nosotros hemos intentado recopilar un listado de aquellos consejos que pueden resultar muy interesantes para un jugador inexperto
</p>

<ul class="list-group">
     <li class="list-group-item"><span class="badge">1</span>Se recomienda no evolucionar ni mejorar Pokemons al menos hasta llegar a nivel 13. Dado que a mayor nivel, mejores Pokemons y mas alto su poder de ataque.</li>
     <li class="list-group-item"><span class="badge">2</span>Recuerda que cada 20 horas puedes recolectar monedas de los Gimnasios, hoy en dia los Gimnasios en zonas concurridas pueden durar minutos, asi que actua en consecuencia.</li>
     <li class="list-group-item"><span class="badge">3</span>Entrena los tiros curvos y dentro de las redondas, pues a mayor nivel mas dificultad para cazar los pokemons</li>
     <li class="list-group-item"><span class="badge">4</span>Si usas incienso, mejor muevete, pues te saldrán mas Pokemons (cada 2 minutos, si no te mueves cada 5 aproximadamente)</li>
     <li class="list-group-item"><span class="badge">5</span>Recuerda que necesitas tener la aplicación encendida para que te cuenten los KM de los huevos</li>
     <li class="list-group-item"><span class="badge">6</span>No merece la pena mejorar Pokemons que tengan su limite (la barra curva que aparece encima) a mas de 3/4</li>
     <li class="list-group-item"><span class="badge">7</span>Es importante fijarnos en los tipos de ataque. Nos interesa que sean variados para poder aprovecharnos de mas vulnerabilidades</li>
     <li class="list-group-item"><span class="badge">8</span>Durante el combate intenta esquivar cuando te lancen ataques especiales y aprovecha esos segundos de descanso para lanzar tu ataque potente</li>
</ul>

<p>¿Tienes mas consejos? No dudes en ponerte en contacto con nosotros y te los publicaremos!</p>